*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto';
}

body {
  background-image: url('/euAmoJojo.jpg'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}